#!/bin/sh

# this runs when a DM (gdm, xdm etc) logs you into a graphical session 

# only fix I found such that I don't specify the path for setbg & others
. ~/.zshenv

# mostly daemons
# mpd &
transmission-gtk -m & 	# for torrents
setbg &			# set the background
xcompmgr &		# for transparency
dunst &			# for notifications
# xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/Xresources &
slstatus &		# status bar

exec dwm
