#!/bin/sh

# this runs when a DM (gdm, xdm etc) logs you into a graphical session 

# only fix I found such that I don't specify the path for setbg & others
. ~/.zshenv

# mostly daemons
# mpd &
setbg &			# set the background
xcompmgr &		# for transparency
dunst &			# for notifications
# xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/Xresources &
slstatus &		# status bar
flameshot &		# screenshot app
nm-applet &		# network manager in system tray
blueman-applet &	# bluetooth in system tray
pasystray & 		# sound control in system tray
redshift-gtk &		# color correction for 1337-late-night-h4x0rr moments
transmission-gtk -m & 	# for torrents
# conky -x 0 -y 0 -d	# second status bar

exec dwm
